In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [6]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
url

'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [8]:
html = urlopen(url)

In [9]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [17]:
rows = soup.find_all('tr')

In [33]:
import re
list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '', str_cells))
    list_rows.append(clean2)

In [34]:
df = pd.DataFrame(list_rows)

In [81]:
df.head()

                                           0
0                                         []
1    [M1A\n, Not assigned\n, Not assigned\n]
2    [M2A\n, Not assigned\n, Not assigned\n]
3         [M3A\n, North York\n, Parkwoods\n]
4  [M4A\n, North York\n, Victoria Village\n]

In [82]:
df1 = df[0].str.split(',', expand=True)
df1.head(5)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,[],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,[M1A\n,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[M2A\n,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,[M3A\n,North York\n,Parkwoods\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,[M4A\n,North York\n,Victoria Village\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [83]:
df1[0] = df1[0].str.strip('[')
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A\n,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A\n,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A\n,North York\n,Parkwoods\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A\n,North York\n,Victoria Village\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [52]:
range(df1.shape[1])

range(0, 31)

In [84]:
for i in range(df1.shape[1]):
    df1[i] = df1[i].str.strip(']')
    df1[i] = df1[i].str.strip('\n')

In [85]:
df1.rename(columns = {0: 'PostalCode', 1: 'Borough'}, inplace = True)
df1.head()

,PostalCode,Borough,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [203]:
df2 = df1[df1['Borough'] != ' Not assigned']

In [204]:
df2 = df2[1:]

In [205]:
df2.reset_index(drop = True, inplace = True)

In [207]:
df2['Neighborhood'] = df2[df2.columns[2:]].apply(lambda x: ','.join(x.dropna().astype(str)), axis = 1)
df2.head()

,PostalCode,Borough,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,Neighborhood
0,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,Parkwoods
1,M4A,North York,Victoria Village,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,Victoria Village
2,M5A,Downtown Toronto,Regent Park,Harbourfront,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"Regent Park, Harbourfront"
3,M6A,North York,Lawrence Manor,Lawrence Heights,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,Queen's Park,Ontario Provincial Government,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,"Queen's Park, Ontario Provincial Government"

In [208]:
data = df2[['PostalCode','Borough','Neighborhood']]
data.head()

  PostalCode            Borough                                  Neighborhood
0        M3A         North York                                     Parkwoods
1        M4A         North York                              Victoria Village
2        M5A   Downtown Toronto                     Regent Park, Harbourfront
3        M6A         North York              Lawrence Manor, Lawrence Heights
4        M7A   Downtown Toronto   Queen's Park, Ontario Provincial Government

In [211]:
data.shape[0]

107